@import '../../../scss/vars';
.section-login{
    .massage{
        margin-bottom: 30px;
        span{
            color: $light-blue;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .form{
        width: 350px;
        display: flex;
        flex-direction: column;
  
        input{
            padding: 12px 14px;
            border: 0.5px solid #000000;
            border-radius: 5px;
            margin-bottom: 20px;
  
            &:focus{
                outline: none;
                border-color: $violet;
            }
  
  
        }
    }
  
}